.orange {
    height: 30px;
    background-color: #d87d82;
    width: 100%;
}

.pink {    
    background-color: #fef9fb;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.paleyellow1 {
    background-color:#fff8ea ;
    height: 30px;
    text-align: center;
    width: 100%;
}

.paleyellow2 {
        width: 100%;
        background-color:#fff8ea ;
        height: 30px;
        display: flex;
        list-style-type: none;
        font-weight: bold;
        justify-content: space-around;
        margin: 0;
        padding: 0%;
        width: 100%;
}

.pink .column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.h2 {
    color: #991a40;
    text-align: center;
    font-size: 32px;
    font-family: Avenir Next LT Pro;
    margin-top: 40px;
    margin-bottom: 0px;

}

.h1 {
    color: #991a40;
    text-align: center;
    font-size: 32px;
    font-family: Avenir Next LT Pro;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    width: 100%;
    max-width: 30%;
    display: flex;
}

.project article {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #fef9fb;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

.project .projectImage {
    position: relative;
    width: 100%;
    height: 400px;
}

.project .projectImage img {
    object-fit: contain;
}

@media (min-width: 600px) {
    .pink, .palepink, .offwhite, .pink2 {
        padding: 40px;
        min-height: auto;
        text-align: center;
    }
}

.pink, .palepink, .offwhite, .pink2 {
    padding: 40px;
    min-height: auto;
    text-align: center;
  }